@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Search by</h2>
        <ul>
            <li>Title</li>
            <li>Author</li>
        </ul>
    </div>
    <div class="col-md-7">
        <h2>Popular books:</h2>
        <div>
            <h1>the women in the window</h1>
            <div>
                <div>Author: A.J.Finn</div>
                <div>Desc: It isn’t paranoia if it’s really happening . . ..</div>
            </div>
            <br /><br />
            <div>------------------------------------------------------------------</div>
            <h1>the outsider</h1>
            <div>
                <div>Author: Stephenking</div>
                <div>Desc: An unspeakable crime. A confounding investigation. At a time when the King brand has never been stronger,</div>
            </div>
            <br /><br />
            <div>------------------------------------------------------------------</div>
            <h1>Milk and Honey</h1>
            <div>
                <div>Author: Rupi Kaur</div>
                <div>Desc: The book is divided into four chapters, and each chapter serves a different purpose.</div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <h2>Contact Us</h2>
        <p>
            Email: hello123@gmail.com<br />
            Address:<br />
            5 The Street<br />
            The City<br />
            The State<br />
            USA<br />
            +1 888 123-4567<br />
        </p>
    </div>
</div>
