@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Search by</h2>
        <ul>
            <li>Title</li>
            <li>Author</li>
        </ul>
    </div>
    <div class="col-md-7">
        <h2>Popular books:</h2>
        <div>
            <h1>Once upon a time</h1>
            <div>
                <div>Author: JR Tolken</div>
                <div>Desc: This is a story of a child who blah blah.  Then blah blah happened and it all went to pot.</div>
            </div>
            <br /><br />
            <div>------------------------------------------------------------------</div>
            <h1>Hi there</h1>
            <div>
                <div>Author: Ed T</div>
                <div>Desc: This is maybe what you want.  I dunno. Im tired</div>
            </div>
            <br /><br />
            <div>------------------------------------------------------------------</div>
            <h1>And on, and on</h1>
            <div>
                <div>Author: Gopal</div>
                <div>Desc: Woohoo... look at this thing go!</div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <h2>Contact Us</h2>
        <p>
            Email: blahblah@gmail.com<br />
            Address:<br />
            5 The Street<br />
            The City<br />
            The State<br />
            USA<br />
            +1 888 123-4567<br />
        </p>
    </div>
</div>
